# ==========================
# Android Studio / IntelliJ
# ==========================
.idea/
*.iml

# VS Code
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db
Desktop.ini

# ==========================
# Local machine files
# ==========================
local.properties

# ==========================
# Gradle
# ==========================
.gradle/

# Kotlin
.kotlin/

# ==========================
# Build outputs
# ==========================
build/
**/build/

# Native build
.externalNativeBuild/
.cxx/

# Android Studio captures
captures/

# Logs
*.log

# Temporary / Backup
*.tmp
*.temp
*.bak
*.orig
*~

# Signing keys
*.jks
*.keystore
*.p12